<nav class="navbar navbar-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img src="../../../assets/logo.png" style="width: 90px;">
    </a>

    <!-- Show this for logged out users -->
    <ul *appShowAuthed="false" class="nav navbar-nav pull-xs-left animated fadeIn bounceIn">
      <!-- Lien inutile -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/aboutUs">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" routerLinkActive="active">
          Sign in
        </a>
      </li>
      <!-- Liens dupliqués -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/"> Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/register" routerLinkActive="active">
          Sign up
        </a>
      </li>
      <!-- Lien inutile vers les paramètres, inaccessible sans connexion -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/settings" routerLinkActive="active">
          Settings
        </a>
      </li>
    </ul>

    <!-- Show this for logged in users -->
    <ul *appShowAuthed="true" class="nav navbar-nav pull-xs-right">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Home
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/settings" routerLinkActive="active">
          <i class="ion-gear-a"></i>&nbsp;Settings
        </a>
      </li>

      <li class="nav-item" *ngIf="currentUser$ | async as currentUser">
        <a
          class="nav-link"
          [routerLink]="['/profile', currentUser.username]"
          routerLinkActive="active"
        >
          <img
            [src]="currentUser.image"
            *ngIf="currentUser.image"
            class="user-pic"
          />
          {{ currentUser.username }}
        </a>
      </li>
    </ul>
  </div>
</nav>
