<div class="about-us">
    <div class="about-us-text">
      <h1>Welcome to Conduit!</h1>
      <p>A place to share your Angular knowledge. We provide a platform for developers to exchange ideas, tutorials, and articles about Angular development.</p>
      <p>Whether you are a beginner or an expert, Conduit is here to help you learn, grow, and share knowledge with the Angular community.</p>
    </div>
    <div class="about-us-image">
      <img src="assets/Conduit.webp" alt="Conduit Image">
    </div>
  </div>
  