<div class="home-page">
  <div class="banner" *appShowAuthed="false">
    <div class="container">
      <h1 class="logo-font animated fadeIn bounceIn">conduit</h1>
      <p>A place to share your <i>Angular</i> knowledge.</p>
      <img src="https://media.giphy.com/media/3o7abKhOpu0NwenH3O/giphy.gif" class="animated fadeIn bounceIn" alt="GIF Animation 1">
      <img src="https://media.giphy.com/media/xT9IgG50Fb7Mi0prBC/giphy.gif" class="animated fadeIn bounceIn"  alt="GIF Animation 2">
      <img src="https://media.giphy.com/media/26AHONQ79FdWZhAI0/giphy.gif" class="animated fadeIn bounceIn"  alt="GIF Animation 3">
      <img src="https://media.giphy.com/media/3oriO0OEd9QIDdllqo/giphy.gif" class="animated fadeIn bounceIn"  alt="GIF Animation 4">
    </div>
  </div>

  <div class="carousel">
    <div class="carousel-slides">
      <div class="slide">
        <img src="https://i.ytimg.com/vi/83p0mv3W8pU/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLDaVv58p4Qu5ezCNU1_8R2Xz2FOZw" alt="Slide 1" />
        <p>Slide 1 - Welcome to Conduit!</p>
      </div>
    </div>
    <button class="prev" aria-label="Previous slide">&lt;</button>
    <button class="next" aria-label="Next slide">&gt;</button>
  </div>


  <div class="container page">
    <div class="row">
      <div class="col-md-9">
        <div class="feed-toggle">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item">
              <a
                class="nav-link"
                [ngClass]="{ active: listConfig.type === 'feed' }"
                (click)="setListTo('feed')"
              >
                Your Feed
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                [ngClass]="{
                  active: listConfig.type === 'all' && !listConfig.filters.tag
                }"
                (click)="setListTo('all')"
              >
                Global Feed
              </a>
            </li>
            <li class="nav-item" [hidden]="!listConfig.filters.tag">
              <a class="nav-link active">
                <i class="ion-pound"></i> {{ listConfig.filters.tag }}
              </a>
            </li>
          </ul>
        </div>
        <app-article-list [limit]="10" [config]="listConfig"></app-article-list>
        <a class="nav-link" href="/editor" routerLinkActive="active">
          <i class="ion-compose"></i>&nbsp;New Article
        </a>
      </div>

      <div class="col-md-3" *rxLet="tags$; let tags">
        <div class="sidebar">
          <p>Popular Tags</p>

          <div class="tag-list">
            <a
              *ngFor="let tag of tags"
              (click)="setListTo('all', { tag: tag })"
              class="tag-default tag-pill"
            >
              {{ tag }}
            </a>
          </div>
          <div [hidden]="tagsLoaded">Loading tags...</div>

          <div [hidden]="!tagsLoaded || tags.length > 0">
            No tags are here... yet.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
